a{
    display: block;
}
a:link{
    color: #f00;
}
a:visited{
    color:#f0d;
}
a:active{
    color: #000;
}
a:hover{
    color:gold;
}
div{
    color: #d00;
}
#furia {
    border: 2px solid #000;
}
ul{
    border:inherit;
}