table, td, th{
    border: 1px solid #000;
    height: 20px;
    width: 400px;
}
th{
    background-color: #0d4;
    height: 32px;
}   
td{
    text-align: center;
}
tr:nth-child(odd){
    background-color: aquamarine;
}