div{
    border: 1px solid #f00;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}
p{
    border: 1px solid #000;
    width: 300px;
    height: 300px;
   
}