header{
    background-color: #7C5E99;
    
}
nav{
    background-color: #000;
    text-align:right;
}
a{
    color: #FFFFFF;
    background-color: #FF0000;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Fira Code', Arial, Helvetica, sans-serif;
    /*margin-right: 30px;*/

}
#button{
    background-color:#F25A70;
    box-shadow: 5px 5px #000;
    display: inline-block;
    height: 60px; /*mesma altura da caixa*/
    padding-left:20px;
    padding-right: 20px;
    text-align: center;
    vertical-align: center;
    line-height: 60px;
  

}